.button-dark {
    display: inline-block;
    position: relative;
    padding: 0.5rem 1.2rem;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border-radius: 0;
    border: 0.1rem solid white;
    background: transparent;
    line-height: 1;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.button-dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: white;
    z-index: -1;
    transition: width 0.4s ease;
}

.button-dark:hover {
    color: var(--primary-color);
    background: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(var(--primary-color-rgb), 0.2);
}

.button-dark:hover::before {
    width: 100%;
}

.dark-theme .button-dark {
    color: white;
    border-color: var(--primary-color);
}

.dark-theme .button-dark::before {
    background-color: var(--primary-color);
}

.dark-theme .button-dark:hover {
    color: var(--primary-color);
    background: var(--card-bg);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(var(--primary-color-rgb), 0.2);
}
